/*Globales*/

html {
    font-size: 62.5%;
    box-sizing: border-box;  /* Hack para box model */
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}

img {
    width:100%;
    height:100%;
    object-fit: cover;
}




/* Tipografia */

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;    
}

h3{
    font-size: 1.8rem;    
}



/* Add form */

.form-register h4 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    text-align: center;
}

.form-register {
    width: 60rem;
    background: #24303c;
    padding: 3rem;
    padding-top: 1rem;
    margin: auto;
    margin-top: 10rem;
    border-radius: .4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: .7rem 1.3rem 3.7rem #000;
    margin-bottom: 5rem;
}

.form-register p {
    height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 4rem;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 1rem;
    border-radius: .4rem;
    margin-bottom: 1.6rem;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 1.8rem;
    color: white;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 1.2rem;
    color: white;
    margin: 1.6rem 0rem;
    font-size: 1.6rem;
}

